#!/bin/bash

# 检查锁
if [ -e $LOCK_FILE_PATH ]; then
    # 计算锁时间差
    LOCK_TIMESTAMP=$(cat $LOCK_FILE_PATH)
    CURRENT_TIMESTAMP=$(date +%s)
    TIME_DIFF=$(($CURRENT_TIMESTAMP - $LOCK_TIMESTAMP))
    # 判断时间差是否超过20分钟（20*60=1200秒）
    if [ $TIME_DIFF -gt 1200 ]; then
        echo "锁已失效"
    else
        echo "已有任务在执行，请稍后重试"
        exit
    fi
fi

# 加锁
echo $(date +%s) > $LOCK_FILE_PATH

timestamp=$(date +%Y%m%d_%H%M%S)
# 临时设置系统的打开文件数量上限
ulimit -n 65535
# BACKUP_PATH 是在 控制面板 -> Xtrabackup -> mysql备份目录 设置的目录，不要在此文件修改

# 备份目录
BACKUP_INC_PREV_PATH=$BACKUP_INC_PATH.prev
if [ -d "$BACKUP_INC_PREV_PATH" ];then
    rm -rf $BACKUP_INC_PREV_PATH
fi
if [ -d "$BACKUP_INC_PATH" ];then
    mv $BACKUP_INC_PATH $BACKUP_INC_PREV_PATH
    echo "|- 备份增量目录到${BACKUP_INC_PREV_PATH}完成"
fi

mkdir -p $BACKUP_INC_PATH
LOG_DIR="/www/server/xtrabackup-inc/logs"
if [ ! -d "$LOG_DIR" ];then
    mkdir -p $LOG_DIR
fi
xtrabackup --backup --user=root  --port=33067 --password=123456 --target-dir=$BACKUP_INC_PATH --incremental-basedir=$BACKUP_BASE_PATH &>> $LOG_DIR/backup_inc_$timestamp.log
if [ $? -eq 0 ] && [ -d "$BACKUP_INC_PATH/mysql" ];then
    echo "|- $timestamp 增量备份成功" >> /www/server/xtrabackup-inc/xtrabackup.log
    # 备份成功记录
    pushd /www/server/jh-panel > /dev/null  
    python3 /www/server/jh-panel/plugins/xtrabackup-inc/index.py backup_callback {backup_type:inc}
    popd > /dev/null
else
    echo "|- $timestamp 增量备份失败" >> /www/server/xtrabackup-inc/xtrabackup.log
    # 恢复目录
    if [ -d "$BACKUP_INC_PATH" ];then
        rm -rf $BACKUP_INC_PATH
    fi
    if [ -d "$BACKUP_INC_PREV_PATH" ];then
        cp -r $BACKUP_INC_PREV_PATH $BACKUP_INC_PATH
        echo "|- 恢复增量目录内容完成"
    fi
fi

# 解锁
rm -f $LOCK_FILE_PATH

python3 /www/server/jh-panel/scripts/clean.py $LOG_DIR/